/.zhistory
/.DS_Store
/.yankring-history_v2.txt
/.history
/.fasd
/.irb-history
/Library
/.bash_history
/.rvm
/.pry_history
/Downloads
/.dropbox
/code
/Dropbox
/.neocon
/Pictures
/.ssh
/Desktop
/Documents
/Music
/.Trash
/Public
/.guard_history
/.bash_profile
/.cache
/.config
/.gem
/.plex
/.tmuxinator
/Movies
/.bashrc
/.lesshst
/.psql_history
/.CFUserTextEncoding
/.fasd-init-bash
/.viminfo
/.Xauthority
/.android
/.cpan
/.cups
/.fontconfig
/.gist-vim
/.gnupg
/.htoprc
/.mysql_history
/.node-gyp
/.npm
/.rbx
/VirtualBox VMs
/vms
/.vim/.netrwhist
/.netrc
/.heroku
